{# src/_includes/macros/slideHref.njk #}
{% macro slideHref(s, properties) -%}
  {% if s.href %}
    {{- s.href -}}
  {% elif s.refFilename %}
    {# find property by refFilename and build the same SEO slug as property.11ty.js #}
    {%- set url = '' -%}
    {%- for item in properties -%}
      {%- if item.filename == s.refFilename -%}
        {%- set url = (item.title | slug) ~ '-' ~ ((item.sector or item.area or '') | slug) ~ '.html' -%}
      {%- endif -%}
    {%- endfor -%}
    {{- url or '#' -}}
  {% else %}
    #
  {% endif %}
{%- endmacro %}
